## ONS Library functionality

### Library import

In [66]:
import sys
sys.path.insert(0, '../python/lib/')
import ons
import utl
import pandas
api_key = <insert you api key>

In [2]:
%%capture
ons.get_contexts(api_key)

   contextId     contextName
0          1          Census
1          2  Socio-Economic
2          3        Economic
3          4          Social

In [3]:
%%capture
ons.get_concepts('Census',api_key).head()

   id                                 name  usage_number
0  76                          Family type            18
1  75  Marital and civil partnership staus             7
2  30                                  Sex           169
3  29                       Second address             6
4  28                       Residence type             9

In [4]:
%%capture
ons.get_classifications('Census',api_key)

,id,name,url
0,CL_0000078,Age (T005B),classification/CL_0000078.json?apikey=PeR7831y...
1,CL_0001363,Migration within Wales (T009D),classification/CL_0001363.json?apikey=PeR7831y...
2,CL_0000776,Sleeping rough identifier (T001A),classification/CL_0000776.json?apikey=PeR7831y...
3,CL_0000003,Passport (T072A),classification/CL_0000003.json?apikey=PeR7831y...
4,CL_0001074,Provision of unpaid care,classification/CL_0001074.json?apikey=PeR7831y...
5,CL_0000199,Age (T006D),classification/CL_0000199.json?apikey=PeR7831y...
6,CL_0000095,Ethnic group of Household Reference Person (T0...,classification/CL_0000095.json?apikey=PeR7831y...
7,CL_0000039,Number of household spaces in shared dwellings...,classification/CL_0000039.json?apikey=PeR7831y...
8,CL_0000097,Main language (T023A),classification/CL_0000097.json?apikey=PeR7831y...
9,CL_0001353,Position in communal establishment by age (T012C),classification/CL_0001353.json?apikey=PeR7831y...
10,CL_0001464,Household Composition (T022C),classification/CL_0001464.json?apikey=PeR7831y...
11,CL_0000007,Length of residence in the UK (T006A),classification/CL_0000007.json?apikey=PeR7831y...
12,CL_0000324,Age (T084A),classification/CL_0000324.json?apikey=PeR7831y...
13,CL_0000934,Household composition (percentage),classification/CL_0000934.json?apikey=PeR7831y...
14,CL_0000597,Adult lifestage (T011A),classification/CL_0000597.json?apikey=PeR7831y...
15,CL_0001439,Industry (T010D),classification/CL_0001439.json?apikey=PeR7831y...
16,CL_0001195,Sex (percentage),classification/CL_0001195.json?apikey=PeR7831y...
17,CL_0001330,Age (SA),classification/CL_0001330.json?apikey=PeR7831y...
18,CL_0000991,National identity Irish (percentage),classification/CL_0000991.json?apikey=PeR7831y...
19,CL_0000490,Welsh household composition (T014A),classification/CL_0000490.json?apikey=PeR7831y...
20,CL_0000159,Accommodation type (T009A),classification/CL_0000159.json?apikey=PeR7831y...
21,CL_0000138,Number of persons per room in household (T005A),classification/CL_0000138.json?apikey=PeR7831y...
22,CL_0000905,Economic activity (percentage),classification/CL_0000905.json?apikey=PeR7831y...
23,CL_0001461,Age of HRP (T004C),classification/CL_0001461.json?apikey=PeR7831y...
24,CL_0000857,Area (Hectares),classification/CL_0000857.json?apikey=PeR7831y...
25,CL_0000903,Economic activity,classification/CL_0000903.json?apikey=PeR7831y...
26,CL_0000204,Accommodation type by dwelling type (T011A),classification/CL_0000204.json?apikey=PeR7831y...
27,CL_0000285,Age (T018A),classification/CL_0000285.json?apikey=PeR7831y...
28,CL_0000946,Tenure,classification/CL_0000946.json?apikey=PeR7831y...
29,CL_0001460,Economic activity (T018C),classification/CL_0001460.json?apikey=PeR7831y...
...,...,...,...
516,CL_0001440,Place of usual residence,classification/CL_0001440.json?apikey=PeR7831y...
517,CL_0000477,Number of bedrooms (T005A),classification/CL_0000477.json?apikey=PeR7831y...
518,CL_0000037,Unit in which the data values are measured,classification/CL_0000037.json?apikey=PeR7831y...
519,CL_0000493,Tenure by landlord (T014A),classification/CL_0000493.json?apikey=PeR7831y...
520,CL_0000287,Highest level of qualification (T008B),classification/CL_0000287.json?apikey=PeR7831y...
521,CL_0000100,Ability to read Welsh language (T001A),classification/CL_0000100.json?apikey=PeR7831y...
522,CL_0000567,Economic activity (T007C),classification/CL_0000567.json?apikey=PeR7831y...
523,CL_0000169,Age (T006B),classification/CL_0000169.json?apikey=PeR7831y...
524,CL_0000858,Density (Persons per hectare),classification/CL_0000858.json?apikey=PeR7831y...
525,CL_0000148,National identity detailed (T092A),classification/CL_0000148.json?apikey=PeR7831y...
526,CL_0000957,Age (percentage),classification/CL_0000957.json?apikey=PeR7831y...
527,CL_0000449,Highest level of qualification (T007A),classification/CL_0000449.json?apikey=PeR7831y...
528,CL_0000021,Country of birth (T003A),classification/CL_0000021.json?apikey=PeR7831y...
529,CL_0000216,Family type by parents ability to speak Welsh ...,classification/CL_0000216.json?apikey=PeR7831y...
530,CL_0000055,Second address (Indicator) (T004A),classification/CL_0000055.json?apikey=PeR7831y...
531,CL_0000906,Unemployment (percentage),classification/CL_0000906.json?apikey=PeR7831y...
532,CL_0000801,Welsh Language Skills (Percentage),classification/CL_0000801.json?apikey=PeR7831y...
533,CL_0000981,National identity British,classification/CL_0000981.json?apikey=PeR7831y...
534,CL_0000026,Living arrangements (T010A),classification/CL_0000026.json?apikey=PeR7831y...
535,CL_0000930,Religion (T010A) (percentage),classification/CL_0000930.json?apikey=PeR7831y...
536,CL_0000939,Dependent children in household,classification/CL_0000939.json?apikey=PeR7831y...
537,CL_0000552,National Statistics Socio-economic Classificat...,classification/CL_0000552.json?apikey=PeR7831y...
538,CL_0000951,Communal establishment,classification/CL_0000951.json?apikey=PeR7831y...
539,CL_0001390,Migration within Wales (T005D),classification/CL_0001390.json?apikey=PeR7831y...
540,CL_0000202,General health (T003A),classification/CL_0000202.json?apikey=PeR7831y...
541,CL_0000534,Country of birth (T003B),classification/CL_0000534.json?apikey=PeR7831y...
542,CL_0000785,Area (Hectares),classification/CL_0000785.json?apikey=PeR7831y...
543,CL_0000972,Schoolchildren and full-time students (percent...,classification/CL_0000972.json?apikey=PeR7831y...
544,CL_0000045,Number of adults in household (T003A),classification/CL_0000045.json?apikey=PeR7831y...
545,CL_0000469,Main language (T027A),classification/CL_0000469.json?apikey=PeR7831y...

In [5]:
%%capture
ons.get_classification_details('Census','Religion',api_key).head()

                description       value
4  All categories: Religion  CI_0018467
6                  Buddhist  CI_0018478
7                 Christian  CI_0018474
2                     Hindu  CI_0018482
3                    Jewish  CI_0018485

In [6]:
%%capture
collections = ons.get_collections_for_classification('Census','Religion',api_key)
collections.head()

,description,geohierarchy,id,name,url
0,collection DC1202EW,"{'geographicalHierarchy': [{'time': 2011, 'url...",DC1202EW,Household composition by religion of Household...,collectiondetails/DC1202EW.json?context=Census...
1,collection DC2107EW,"{'geographicalHierarchy': [{'time': 2011, 'url...",DC2107EW,Religion by sex by age,collectiondetails/DC2107EW.json?context=Census...
2,collection DC2201EW,"{'geographicalHierarchy': [{'time': 2011, 'url...",DC2201EW,Ethnic group by religion,collectiondetails/DC2201EW.json?context=Census...
3,collection DC2204EW,"{'geographicalHierarchy': [{'time': 2011, 'url...",DC2204EW,National identity by religion,collectiondetails/DC2204EW.json?context=Census...
4,collection DC2207EW,"{'geographicalHierarchy': [{'time': 2011, 'url...",DC2207EW,Country of birth by religion by sex,collectiondetails/DC2207EW.json?context=Census...

In [7]:
%%capture
collection = collections.iloc[1]['name']
datasets = ons.get_dataset_details_for_classification_collection('Census',
                                                  'Religion',
                                                  collection,
                                                  api_key)
datasets.head()

,collection_name,geography,file_url
0,Religion by sex by age,2011 Census Merged Ward Hierarchy,http://data.statistics.gov.uk/ons/datasets/csv...
0,Religion by sex by age,2011 Statistical Geography Hierarchy,http://data.statistics.gov.uk/ons/datasets/csv...
0,Religion by sex by age,2011 Built-up area hierarchy,http://data.statistics.gov.uk/ons/datasets/csv...
0,Religion by sex by age,2011 National Assembley for Wales Electoral Hi...,http://data.statistics.gov.uk/ons/datasets/csv...
0,Religion by sex by age,2011 Parish Hierarchy,http://data.statistics.gov.uk/ons/datasets/csv...

In [113]:
file = datasets.iloc[0]['file_url']
print(file)
data = utl.get_csv_data_from_url(file)
data.head()

http://data.statistics.gov.uk/ons/datasets/csv/CSV_DC2107EW_2011HTWARDH_NAT_HTWD_REL_1.1.1_EN.zip

     Females                                                             \
  Age 0 to 4
    Buddhist Christian  Hindu Jewish  Muslim No religion Other religion
0       4457    750767  27360   8920  155461      580222           2831
1       4320    716369  26982   8896  152906      539755           2717
2        137     34398    378     24    2555       40467            114
3         95     36607    257    235    2800       26586             36
4        328    110548   1262   1290   21133       58351            184

                                                              \

  Religion not stated   Sikh Total: All categories: Religion
0              163228  13760                         1707006
1              154685  13648                         1620278
2                8543    112                           86728
3                6163    227                           73006
4               17365    352                          210813

                ...               Total: All categories: Sex            \
                ...               Total: All categories: Age
                ...                                 Buddhist Christian
0               ...                                   247743  33243175
1               ...                                   238626  31479876
2               ...                                     9117   1763299
3               ...                                     6316   1753334
4               ...                                    20695   4742860

                                                                           \

    Hindu  Jewish   Muslim No religion Other religion Religion not stated
0  816633  263346  2706066    14097229         240530             4038032
1  806199  261282  2660116    13114232         227825             3804104
2   10434    2064    45950      982997          12705              233928
3    7772    4503    46764      607700           6668              157865
4   38259   30417   356458     1397916          19166              437549



     Sikh Total: All categories: Religion
0  423158                        56075912
1  420196                        53012456
2    2962                         3063456
3    5964                         2596886
4    8857                         7052177

[5 rows x 662 columns]

In [126]:
# Where should I live? 

#get columns we want using tuple-column indexing 
r = [data[x] for x in [           ('Geographic Area'),
                                  ('Females','Age 25 to 29','Christian'),
                                  ('Males','Age 25 to 29','Christian')
                                 ]]
r1 = pandas.concat(r,axis = 1)
#coerse types 
r1[('Females','Age 25 to 29','Christian')] = r1[('Females','Age 25 to 29','Christian')].map(lambda x: int(x))
r1[('Males','Age 25 to 29','Christian')] = r1[('Males','Age 25 to 29','Christian')].map(lambda x: int(x))

# filter for large enough places 
r1= r1[r1[('Females','Age 25 to 29','Christian')] > 300]

# calculate the ratio 
r1['ratio'] = r1[('Females','Age 25 to 29','Christian')] /r1[('Males','Age 25 to 29','Christian')]

r1.sort_values('ratio',ascending = False).head()

,Geographic Area,"(Females, Age 25 to 29, Christian)","(Males, Age 25 to 29, Christian)",ratio
5069,East Dulwich,357,192,1.859375
5089,Bow West,324,180,1.800000
4982,Mildmay,428,244,1.754098
4911,Swiss Cottage,345,204,1.691176
1660,Bidston and St James,392,232,1.689655